In [1]:
import numpy as py 
import pandas as pd

In [36]:
df = pd.read_csv('lu7ah.csv')

In [37]:
df.head()

,chakra-text 4,chakra-text 5,chakra-text 6,chakra-text 7,chakra-text 8,chakra-text 9,chakra-text 10,chakra-text 12,chakra-text 14,chakra-text 16,chakra-image src 3,chakra-button href
0,ر,هـ,م,R,H,Z,9777,الرياض,2025-03-13,6500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/26472
1,ر,هـ,م,R,H,Z,9888,الرياض,2025-03-13,6500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/26471
2,ر,هـ,م,R,H,Z,9666,الرياض,2025-03-13,6500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/26459
3,ب,ل,ل,B,L,L,1116,الرياض,2025-03-13,على السوم,NaN,https://lu7ah.com/show-adds/23246
4,د,ص,م,D,X,Z,77,مكة,2025-03-13,23000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/24633

In [38]:
df.shape

(2430, 12)

In [39]:
df[df['chakra-text 16'] != 'على السوم']

,chakra-text 4,chakra-text 5,chakra-text 6,chakra-text 7,chakra-text 8,chakra-text 9,chakra-text 10,chakra-text 12,chakra-text 14,chakra-text 16,chakra-image src 3,chakra-button href
0,ر,هـ,م,R,H,Z,9777,الرياض,2025-03-13,6500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/26472
1,ر,هـ,م,R,H,Z,9888,الرياض,2025-03-13,6500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/26471
2,ر,هـ,م,R,H,Z,9666,الرياض,2025-03-13,6500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/26459
4,د,ص,م,D,X,Z,77,مكة,2025-03-13,23000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/24633
11,ق,ح,ط,G,J,T,980,الخبر,2025-03-13,24500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/19989
...,...,...,...,...,...,...,...,...,...,...,...,...
2410,أ,ل,م,A,L,Z,8288,الرياض,2024-11-01,5000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22710
2420,م,ك,ق,Z,K,G,802,بريدة,2024-10-31,15000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22687
2422,ق,ق,ق,G,G,G,16,الرياض,2024-10-30,300000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22680
2423,ر,ع,ب,R,E,B,2328,أخرى,2024-10-30,20000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22678
2427,هـ,ع,ل,H,E,L,20,جدة,2024-10-30,18500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22672

In [40]:
df = df[df['chakra-text 16'] !='على السوم']

In [41]:
df['chakra-text 16'] = pd.to_numeric(df['chakra-text 16'].str.replace(',', '', regex=True), errors='coerce').astype('Int64')

In [42]:
df[df['chakra-text 16'] == 0 ]

,chakra-text 4,chakra-text 5,chakra-text 6,chakra-text 7,chakra-text 8,chakra-text 9,chakra-text 10,chakra-text 12,chakra-text 14,chakra-text 16,chakra-image src 3,chakra-button href
580,ب,ع,و,B,E,U,3111,مكة,2025-02-25,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/7549
691,أ,د,ب,A,D,B,7212,المدينة,2025-02-21,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22044
823,ح,ل,أ,J,L,A,8777,أخرى,2025-02-17,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/25783
923,ح,ب,ك,J,B,K,1999,أبها,2025-02-11,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/25615
1008,و,م,ل,U,Z,L,67,الجبيل,2025-02-06,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/25465
1207,ع,ك,س,E,K,S,500,المدينة,2025-01-27,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/262
1262,ح,ب,ن,J,B,N,6611,مكة,2025-01-22,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/24946
1608,ق,د,هـ,G,D,H,941,جدة,2024-12-30,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/24287
1859,أ,و,ط,A,U,T,1716,الرياض,2024-12-14,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/23806
1896,ر,ب,د,R,B,D,5765,بريدة,2024-12-10,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/23255
1911,ر,ع,ب,R,E,B,5750,الدمام,2024-12-10,0,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/21774

In [43]:
df=df[df['chakra-text 16'] != 0 ]

In [45]:
df.columns = ['char1_ar', 'char2_ar', 'char3_ar', 'char1_en', 'char2_en', 'char3_en','Plate number','City','Publication date','price','Href','image']  # تأكد من تطابق عدد الأسماء مع عدد الأعمدة

In [46]:
df

,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,Plate number,City,Publication date,price,Href,image
0,ر,هـ,م,R,H,Z,9777,الرياض,2025-03-13,6500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/26472
1,ر,هـ,م,R,H,Z,9888,الرياض,2025-03-13,6500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/26471
2,ر,هـ,م,R,H,Z,9666,الرياض,2025-03-13,6500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/26459
4,د,ص,م,D,X,Z,77,مكة,2025-03-13,23000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/24633
11,ق,ح,ط,G,J,T,980,الخبر,2025-03-13,24500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/19989
...,...,...,...,...,...,...,...,...,...,...,...,...
2410,أ,ل,م,A,L,Z,8288,الرياض,2024-11-01,5000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22710
2420,م,ك,ق,Z,K,G,802,بريدة,2024-10-31,15000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22687
2422,ق,ق,ق,G,G,G,16,الرياض,2024-10-30,300000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22680
2423,ر,ع,ب,R,E,B,2328,أخرى,2024-10-30,20000,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22678
2427,هـ,ع,ل,H,E,L,20,جدة,2024-10-30,18500,https://lu7ah.com/static/media/Saudi_Currency....,https://lu7ah.com/show-adds/22672

In [47]:
df = df.drop(columns=['Href','image','City','Publication date'] )

In [48]:
df.head(2)

  char1_ar char2_ar char3_ar char1_en char2_en char3_en  Plate number  price
0        ر       هـ        م        R        H        Z          9777   6500
1        ر       هـ        م        R        H        Z          9888   6500

In [49]:
df[df.duplicated(['char1_ar', 'char2_ar', 'char3_ar', 'char1_en', 'char2_en', 'char3_en', 'Plate number'],keep=False)]

,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,Plate number,price
122,ل,ن,ط,L,N,T,61,12000
155,هـ,ب,هـ,H,B,H,953,15000
270,أ,ص,ن,A,X,N,9449,4000
367,ب,س,م,B,S,Z,911,100000
371,ب,س,م,B,S,Z,911,100000
444,ل,ن,ط,L,N,T,61,12000
809,ح,م,ب,J,Z,B,44,19000
824,ح,أ,د,J,A,D,1441,3000
836,ح,م,ب,J,Z,B,44,19000
893,هـ,ب,هـ,H,B,H,953,15000
942,هـ,ب,هـ,H,B,H,953,14999
978,ل,ق,د,L,G,D,6,65000
1166,ل,ق,د,L,G,D,6,90000
1320,أ,ك,و,A,K,U,5552,5000
1321,أ,ك,و,A,K,U,5552,5000
1415,ل,ق,د,L,G,D,6,90000
1420,أ,ص,ن,A,X,N,9449,5000
1430,ح,أ,د,J,A,D,1441,5000
1534,ل,ى,د,L,V,D,79,15000
1654,ق,ص,ر,G,X,R,702,25000
1655,ق,ص,ر,G,X,R,702,25000
1886,ب,ك,ك,B,K,K,8881,20000
1887,ب,ك,ك,B,K,K,8881,20000
1907,ى,م,أ,V,Z,A,218,7000
2037,ب,ب,ب,B,B,B,8111,33000
2082,ب,ب,ب,B,B,B,8111,33000
2162,ى,م,أ,V,Z,A,218,7000
2190,ى,م,أ,V,Z,A,218,7000
2404,ل,ى,د,L,V,D,79,20000

In [50]:
df = df.loc[df.groupby(['char1_ar', 'char2_ar', 'char3_ar', 'char1_en', 'char2_en', 'char3_en', 
                         'Plate number'])['price'].idxmax()]

In [51]:
df = df.drop_duplicates(keep=False)

In [52]:
df.duplicated().sum()

0

In [53]:
df.shape

(699, 8)

In [54]:
df['char_ar'] = df['char1_ar']+ ' ' + df['char2_ar'] + ' ' + df['char3_ar']

In [55]:
df['plate_no'] = df['Plate number']

In [56]:
df['char_en'] = df['char3_en']+ ' ' +df['char2_en']+ ' ' +df['char1_en']

In [57]:
df.head()

,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,Plate number,price,char_ar,plate_no,char_en
1796,أ,أ,أ,A,A,A,0,2000000,أ أ أ,0,A A A
802,أ,أ,أ,A,A,A,2116,7000,أ أ أ,2116,A A A
1101,أ,أ,أ,A,A,A,3309,13000,أ أ أ,3309,A A A
1333,أ,أ,أ,A,A,A,5561,9000,أ أ أ,5561,A A A
1998,أ,أ,أ,A,A,A,6932,5000,أ أ أ,6932,A A A

In [58]:
df.shape

(699, 11)

In [60]:
df = df[['char_ar','char_en','char1_ar','char2_ar','char3_ar','char1_en','char2_en','char3_en','plate_no','price']]

In [61]:
df

,char_ar,char_en,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,plate_no,price
1796,أ أ أ,A A A,أ,أ,أ,A,A,A,0,2000000
802,أ أ أ,A A A,أ,أ,أ,A,A,A,2116,7000
1101,أ أ أ,A A A,أ,أ,أ,A,A,A,3309,13000
1333,أ أ أ,A A A,أ,أ,أ,A,A,A,5561,9000
1998,أ أ أ,A A A,أ,أ,أ,A,A,A,6932,5000
...,...,...,...,...,...,...,...,...,...,...
1486,ى ل ق,G L V,ى,ل,ق,V,L,G,499,20000
1907,ى م أ,A Z V,ى,م,أ,V,Z,A,218,7000
1769,ى ن د,D N V,ى,ن,د,V,N,D,2,90000
2382,ى ن ى,V N V,ى,ن,ى,V,N,V,30,30000
394,ى و ى,V U V,ى,و,ى,V,U,V,590,22000

In [62]:
df[df['char_ar'] == 'د و ن']

,char_ar,char_en,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,plate_no,price
1080,د و ن,N U D,د,و,ن,D,U,N,5769,4000

In [64]:
df.to_csv('lu7ah_cleand.csv',index=False)