In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('../preprocessing/lu7ah_cleand.csv')

In [5]:
df1 = pd.read_csv('../preprocessing/mazad_1_cleand.csv')

In [6]:
df2 = pd.read_csv('../preprocessing/mazad_2_cleand.csv')

In [7]:
df3 = pd.read_csv('../preprocessing/lohatk_cleaned.csv')

In [21]:
df3['char_en'] = df3['char_en'].apply(lambda x: ' '.join(x))
df3['plate_no'] = df3['plate_no'].astype('Int64')

In [8]:
df4 = pd.read_csv('../preprocessing/vip_cleand.csv')

In [9]:
df5 = pd.read_csv('../preprocessing/mstaml_cleand.csv')

In [10]:
merged_df = pd.concat([df, df1, df2, df3, df4,df5], ignore_index=True)

In [25]:
merged_df[merged_df['ribbon'] == 'ذهبي']

,char_ar,char_en,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,plate_no,price,ribbon,Unnamed: 0
769,د د و,U D D,د,د,و,D,D,U,2,80000,ذهبي,NaN
770,ن م ا,A Z N,ن,م,ا,N,Z,A,4,65000,ذهبي,NaN

In [26]:
merged_df.duplicated().sum()

58

In [27]:
merged_df[merged_df.duplicated(['char1_ar','char2_ar','char3_ar','char1_en','char2_en','char3_en','plate_no'],keep='first')].sort_values('plate_no')

,char_ar,char_en,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,plate_no,price,ribbon,Unnamed: 0
2214,س,S,س,NaN,NaN,S,NaN,NaN,0,2500000,NaN,NaN
2437,م م ح,J Z Z,م,م,ح,Z,Z,J,1,50000,NaN,NaN
2795,ى ح و,U J V,ى,ح,و,V,J,U,1,400,NaN,NaN
895,س م أ,A Z S,س,م,أ,S,Z,A,1,80000,NaN,92.0
2961,س م ا,A Z S,س,م,ا,S,Z,A,1,90000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2710,ب ط ر,R T B,ب,ط,ر,B,T,R,9007,10000,NaN,NaN
3244,ب ط ر,R T B,ب,ط,ر,B,T,R,9007,12000,NaN,NaN
1974,ر ع ب,B E R,ر,ع,ب,R,E,B,9293,10,NaN,NaN
3334,ب ق و,U G B,ب,ق,و,B,G,U,9494,20000,NaN,NaN
1847,س ب ع,E B S,س,ب,ع,S,B,E,9919,20,NaN,NaN

In [11]:
merged_df.drop('Unnamed: 0',axis=1,inplace=True)

In [14]:
merged_df.duplicated(['char1_ar','char2_ar','char3_ar','char1_en','char2_en','char3_en','plate_no']).sum()

211

In [13]:
merged_df = merged_df[merged_df['price'] > 500 ]

In [15]:
merged_df.shape

(3043, 11)

In [37]:
merged_df.to_csv('mergedData.csv', index=False)