In [76]:
import pandas as pd

In [77]:
df = pd.read_csv('../preprocessing/lu7ah_cleand.csv')

In [78]:
df1 = pd.read_csv('../preprocessing/absher.csv')

In [79]:
df3 = pd.read_csv('../preprocessing/lohatk_cleaned.csv')

In [80]:
df3['char_en'] = df3['char_en'].apply(lambda x: ' '.join(x))
df3['plate_no'] = df3['plate_no'].astype('Int64')

In [81]:
df4 = pd.read_csv('../preprocessing/vip_cleand.csv')

In [82]:
df5 = pd.read_csv('../preprocessing/mstaml_cleand.csv')

In [83]:
merged_df = pd.concat([df, df1, df3, df4,df5], ignore_index=True)

In [84]:
merged_df[merged_df['class'] == 'ذهبي']

,char_ar,char_en,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,plate_no,price,class,Unnamed: 0
815,د د و,U D D,د,د,و,D,D,U,2,80000,ذهبي,NaN
816,ن م ا,A Z N,ن,م,ا,N,Z,A,4,65000,ذهبي,NaN

In [85]:
merged_df.duplicated().sum()

58

In [86]:
merged_df[merged_df.duplicated(['char1_ar','char2_ar','char3_ar','char1_en','char2_en','char3_en','plate_no'],keep='first')].sort_values('plate_no')

,char_ar,char_en,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,plate_no,price,class,Unnamed: 0
2400,س,S,س,NaN,NaN,S,NaN,NaN,0,2500000,NaN,NaN
1081,س م أ,A Z S,س,م,أ,S,Z,A,1,80000,NaN,92.0
2623,م م ح,J Z Z,م,م,ح,Z,Z,J,1,50000,NaN,NaN
2981,ى ح و,U J V,ى,ح,و,V,J,U,1,400,NaN,NaN
3147,س م ا,A Z S,س,م,ا,S,Z,A,1,90000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3520,ب ق و,U G B,ب,ق,و,B,G,U,9494,20000,NaN,NaN
644,ر هـ م,Z H R,ر,هـ,م,R,H,Z,9777,4500,NaN,NaN
643,ر هـ م,Z H R,ر,هـ,م,R,H,Z,9888,4500,NaN,NaN
2033,س ب ع,E B S,س,ب,ع,S,B,E,9919,20,NaN,NaN
678,ح أ ر,R A J,ح,أ,ر,J,A,R,9966,7000,NaN,NaN

In [87]:
merged_df.drop('Unnamed: 0',axis=1,inplace=True)

In [88]:
merged_df.duplicated(['char1_ar','char2_ar','char3_ar','char1_en','char2_en','char3_en','plate_no']).sum()

284

In [89]:
merged_df[merged_df.duplicated(['char1_ar', 'char2_ar', 'char3_ar', 'char1_en', 'char2_en', 'char3_en', 'plate_no'],keep=False)].sort_values(['price','char_ar'])

,char_ar,char_en,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,plate_no,price,class
2538,ا ا ر,R A A,ا,ا,ر,A,A,R,71,1,NaN
2253,ب ح ب,B J B,ب,ح,ب,B,J,B,3222,1,NaN
3483,ب ق و,U G B,ب,ق,و,B,G,U,9494,1,NaN
1711,ح ر ا,A R J,ح,ر,ا,J,R,A,460,1,NaN
1790,د ع ا,A E D,د,ع,ا,D,E,A,128,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2399,س,S,س,NaN,NaN,S,NaN,NaN,0,205000000,NaN
2421,د ح ط,T J D,د,ح,ط,D,J,T,999,310443054,NaN
2453,د ح ط,T J D,د,ح,ط,D,J,T,999,2484543484,NaN
2452,د ح ط,T J D,د,ح,ط,D,J,T,999,7643844543,NaN
2463,د ح ط,T J D,د,ح,ط,D,J,T,999,108446043404,NaN

In [90]:
merged_df[merged_df['price'] >= 500000]

,char_ar,char_en,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,plate_no,price,class
294,ح ك ن,N K J,ح,ك,ن,J,K,N,1110,1000000,NaN
372,و أ ط,T A U,و,أ,ط,U,A,T,12,1000000,NaN
373,ق ى م,Z V G,ق,ى,م,G,V,Z,1,1000000,NaN
385,س ن ر,R N S,س,ن,ر,S,N,R,1,2500000,NaN
473,أ أ أ,A A A,أ,أ,أ,A,A,A,0,2000000,NaN
497,س أ ى,V A S,س,أ,ى,S,A,V,1,500000,NaN
516,ى ق ح,J G V,ى,ق,ح,V,G,J,979,5250000,NaN
536,ب و ق,G U B,ب,و,ق,B,U,G,7373,4000000,NaN
711,ق ح ط,T J G,ق,ح,ط,G,J,T,505,5000000,NaN
745,د ب س,S B D,د,ب,س,D,B,S,1,500000,NaN
905,ر ن أ,R N A,ر,ن,أ,A,N,R,3000,610000,NaN
1083,ل ح ن,N J L,ل,ح,ن,L,J,N,7,4700000,NaN
1152,س ا ى,V A S,س,ا,ى,S,A,V,1,500000,NaN
1160,ن م ى,V Z N,ن,م,ى,N,Z,V,1,750000,NaN
1181,ب ى م,Z V B,ب,ى,م,B,V,Z,4,500000,NaN
1215,د ا ى,V A D,د,ا,ى,D,A,V,1,550000,NaN
1246,م ع ك,K E Z,م,ع,ك,Z,E,K,2,500000,NaN
1257,ر ب ى,V B R,ر,ب,ى,R,B,V,7703,500000,NaN
1259,ق ق ك,K G G,ق,ق,ك,G,G,K,1,700000,NaN
1270,س ك ر,R K S,س,ك,ر,S,K,R,9,1000000,NaN
1313,م ك ه,H K Z,م,ك,ه,Z,K,H,10,1100000,NaN
1321,و ا ا,A A U,و,ا,ا,U,A,A,2,500000,NaN
1371,ر م ح,J Z R,ر,م,ح,R,Z,J,305,1000000,NaN
1372,س م ن,N Z S,س,م,ن,S,Z,N,2,600000,NaN
1386,ط ى ى,V V T,ط,ى,ى,T,V,V,1,1000000,NaN
1461,ب ب ى,V B B,ب,ب,ى,B,B,V,1,7000000,NaN
1471,ر ن و,U N R,ر,ن,و,R,N,U,1,500000,NaN
1523,ا ع ا,A E A,ا,ع,ا,A,E,A,111,500000,NaN
1532,د ن ه,H N D,د,ن,ه,D,N,H,1,700000,NaN
1539,ط ل ه,H L T,ط,ل,ه,T,L,H,1,500000,NaN
1618,و ر د,D R U,و,ر,د,U,R,D,771,610000,NaN
1975,ك ى ط,T V K,ك,ى,ط,K,V,T,6,650000,NaN
2071,د م د,D Z D,د,م,د,D,Z,D,8888,1010101,NaN
2167,ن ل س,S L N,ن,ل,س,N,L,S,555,5000000,NaN
2381,ب س س,S S B,ب,س,س,B,S,S,1,730000,NaN
2399,س,S,س,NaN,NaN,S,NaN,NaN,0,205000000,NaN
2400,س,S,س,NaN,NaN,S,NaN,NaN,0,2500000,NaN
2402,و ط م,Z T U,و,ط,م,U,T,Z,666,900500,NaN
2410,ن ا ر,R A N,ن,ا,ر,N,A,R,393,1000000,NaN
2421,د ح ط,T J D,د,ح,ط,D,J,T,999,310443054,NaN
2452,د ح ط,T J D,د,ح,ط,D,J,T,999,7643844543,NaN
2453,د ح ط,T J D,د,ح,ط,D,J,T,999,2484543484,NaN
2463,د ح ط,T J D,د,ح,ط,D,J,T,999,108446043404,NaN
2560,د ح ط,T J D,د,ح,ط,D,J,T,999,700000,NaN
2628,ب و ب,B U B,ب,و,ب,B,U,B,707,552318009,NaN
2657,ه ك ن,N K H,ه,ك,ن,H,K,N,80,999999999999,NaN
2734,ب ا ل,L A B,ب,ا,ل,B,A,L,1,700000,NaN
3014,ب ى م,Z V B,ب,ى,م,B,V,Z,4,500000,NaN
3150,ب ر س,S R B,ب,ر,س,B,R,S,1,600000,NaN
3228,د ح ق,G J D,د,ح,ق,D,J,G,34,1000000,NaN
3294,ه ب ا,A B H,ه,ب,ا,H,B,A,1,1100000,NaN
3459,و ر ب,B R U,و,ر,ب,U,R,B,3,700000,NaN
3588,ا ن ق,G N A,ا,ن,ق,A,N,G,3,1000000,NaN

In [91]:
#merged_df = merged_df[merged_df['price'] > 1000 ]

In [92]:
merged_df[merged_df['char_ar'] == 'د و ن']

,char_ar,char_en,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,plate_no,price,class
273,د و ن,N U D,د,و,ن,D,U,N,5769,4000,NaN
809,د و ن,N U D,د,و,ن,D,U,N,4752,1000,NaN
1442,د و ن,N U D,د,و,ن,D,U,N,111,100,NaN

In [93]:
merged_df.head(3)

,char_ar,char_en,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,plate_no,price,class
0,ر هـ م,Z H R,ر,هـ,م,R,H,Z,9777,6500,NaN
1,ر هـ م,Z H R,ر,هـ,م,R,H,Z,9888,6500,NaN
2,ر هـ م,Z H R,ر,هـ,م,R,H,Z,9666,6500,NaN

In [94]:
merged_df.shape

(3601, 11)

In [61]:
merged_df.to_csv('mergedData.csv', index=False)