In [38]:
import pandas as pd

In [39]:
df = pd.read_csv('../preprocessing/lu7ah_cleand.csv')

In [40]:
df1 = pd.read_csv('../preprocessing/absher.csv')

In [41]:
df3 = pd.read_csv('../preprocessing/lohatk_cleaned.csv')

In [42]:
df3['char_en'] = df3['char_en'].apply(lambda x: ' '.join(x))
df3['plate_no'] = df3['plate_no'].astype('Int64')

In [43]:
df4 = pd.read_csv('../preprocessing/vip_cleand.csv')

In [44]:
df5 = pd.read_csv('../preprocessing/mstaml_cleand.csv')

In [45]:
merged_df = pd.concat([df, df1, df3, df4,df5], ignore_index=True)

In [46]:
merged_df[merged_df['class'] == 'ذهبي']

,char_ar,char_en,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,plate_no,price,class,Unnamed: 0
769,د د و,U D D,د,د,و,D,D,U,2,80000,ذهبي,NaN
770,ن م ا,A Z N,ن,م,ا,N,Z,A,4,65000,ذهبي,NaN

In [47]:
merged_df.duplicated().sum()

58

In [48]:
merged_df[merged_df.duplicated(['char1_ar','char2_ar','char3_ar','char1_en','char2_en','char3_en','plate_no'],keep='first')].sort_values('plate_no')

,char_ar,char_en,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,plate_no,price,class,Unnamed: 0
2354,س,S,س,NaN,NaN,S,NaN,NaN,0,2500000,NaN,NaN
2577,م م ح,J Z Z,م,م,ح,Z,Z,J,1,50000,NaN,NaN
3101,س م ا,A Z S,س,م,ا,S,Z,A,1,90000,NaN,NaN
1035,س م أ,A Z S,س,م,أ,S,Z,A,1,80000,NaN,92.0
2935,ى ح و,U J V,ى,ح,و,V,J,U,1,400,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3384,ب ط ر,R T B,ب,ط,ر,B,T,R,9007,12000,NaN,NaN
2850,ب ط ر,R T B,ب,ط,ر,B,T,R,9007,10000,NaN,NaN
2114,ر ع ب,B E R,ر,ع,ب,R,E,B,9293,10,NaN,NaN
3474,ب ق و,U G B,ب,ق,و,B,G,U,9494,20000,NaN,NaN
1987,س ب ع,E B S,س,ب,ع,S,B,E,9919,20,NaN,NaN

In [49]:
merged_df.drop('Unnamed: 0',axis=1,inplace=True)

In [50]:
merged_df.duplicated(['char1_ar','char2_ar','char3_ar','char1_en','char2_en','char3_en','plate_no']).sum()

267

In [51]:
merged_df = merged_df[merged_df['price'] > 500 ]

In [53]:
merged_df[merged_df['char_ar'] == 'د و ن']

,char_ar,char_en,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,plate_no,price,class
264,د و ن,N U D,د,و,ن,D,U,N,5769,4000,NaN
763,د و ن,N U D,د,و,ن,D,U,N,4752,1000,NaN

In [60]:
merged_df.head(30)

,char_ar,char_en,char1_ar,char2_ar,char3_ar,char1_en,char2_en,char3_en,plate_no,price,class
0,أ أ أ,A A A,أ,أ,أ,A,A,A,0,2000000,NaN
1,أ أ أ,A A A,أ,أ,أ,A,A,A,2116,7000,NaN
2,أ أ أ,A A A,أ,أ,أ,A,A,A,3309,13000,NaN
3,أ أ أ,A A A,أ,أ,أ,A,A,A,5561,9000,NaN
4,أ أ أ,A A A,أ,أ,أ,A,A,A,6932,5000,NaN
5,أ أ ب,B A A,أ,أ,ب,A,A,B,667,16000,NaN
6,أ أ ح,J A A,أ,أ,ح,A,A,J,5555,60000,NaN
7,أ أ س,S A A,أ,أ,س,A,A,S,570,10000,NaN
8,أ أ ط,T A A,أ,أ,ط,A,A,T,700,3500,NaN
9,أ أ ك,K A A,أ,أ,ك,A,A,K,1009,9000,NaN
10,أ أ ن,N A A,أ,أ,ن,A,A,N,300,14000,NaN
11,أ أ ى,V A A,أ,أ,ى,A,A,V,2323,15000,NaN
12,أ ب ق,G B A,أ,ب,ق,A,B,G,3,70000,NaN
13,أ ب ل,L B A,أ,ب,ل,A,B,L,8188,25000,NaN
14,أ ب م,Z B A,أ,ب,م,A,B,Z,20,60000,NaN
15,أ ب ن,N B A,أ,ب,ن,A,B,N,88,30000,NaN
16,أ د ب,B D A,أ,د,ب,A,D,B,9099,12000,NaN
17,أ ر ب,B R A,أ,ر,ب,A,R,B,75,15500,NaN
18,أ ر ر,R R A,أ,ر,ر,A,R,R,9993,6000,NaN
19,أ ر ص,X R A,أ,ر,ص,A,R,X,3003,4000,NaN
20,أ س د,D S A,أ,س,د,A,S,D,188,80000,NaN
21,أ س د,D S A,أ,س,د,A,S,D,998,100000,NaN
22,أ س د,D S A,أ,س,د,A,S,D,9320,34000,NaN
23,أ س س,S S A,أ,س,س,A,S,S,9992,15000,NaN
24,أ س ك,K S A,أ,س,ك,A,S,K,4800,10000,NaN
25,أ ص س,S X A,أ,ص,س,A,X,S,68,60000,NaN
26,أ ص م,Z X A,أ,ص,م,A,X,Z,8555,4000,NaN
27,أ ص ن,N X A,أ,ص,ن,A,X,N,9449,5000,NaN
28,أ ط ل,L T A,أ,ط,ل,A,T,L,1111,50000,NaN
29,أ ع ط,T E A,أ,ع,ط,A,E,T,248,9000,NaN

In [59]:
merged_df.shape

(3183, 11)

In [61]:
merged_df.to_csv('mergedData.csv', index=False)